@page
@model ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Restaurants</h1>
@if(Model.Message2 != null)
{
    <div class="alert alert-danger">@Model.Message2</div>
}
@*<repeat count="2">
    <h4>Ankita!! @DateTime.UtcNow.Year</h4>
</repeat>*@
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="input-group-btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>



    @foreach (var restaurant in Model.Restaurants)
    {
        <partial name="_Summary" model="restaurant" />
        @*<tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
            <td>
                <a class="btn btn-lg"
                   asp-page="./Details"
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
                <a class="btn btn-lg"
                   asp-page="./Edit"
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-lg"
                   asp-page="./Delete"
                   asp-route-restaurantId="@restaurant.Id">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>*@
        @*<tr>
                <td>
                    <a class="btn btn-lg"
                       asp-page="./Details"
                       asp-route-restaurantId="@restaurant.Id">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                </td>
            </tr>*@
    }


<a asp-page=".\Edit" class="btn btn-primary">Add New</a>

@*<div>
        @Model.Meassage
    </div>*@


@section footer{
    <div>@Model.Meassage</div>
}

